<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/f696794974.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/f696794974.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/Styles.css">
   
    <title>Mercado liebre</title>

</head>
<body>
   
<header>
    <div class="header2">
        <img class="logo" src="/images/logo-mercado-liebre.svg" alt="">


        <div class="buscador">
            <input class="barra" type="text" placeholder="Buscar productos, marcas y más">
            <button class="lupa" type="button"> <i class="fas fa-search"> </i>
        
        </div>
        
        <p class="cuotas"> <i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta crédito</p>
        
    </div>

    <div class="listas">
        <nav class="listas1">
            <ul>
                <li><a href="/">Ofertas</a></li>
                <li><a href="">Tiendas oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
            </nav>
            
            
            <nav class="listas2">
            <ul>
                <li><a href="">Créa tu cuenta <i class="far fa-id-card"></i></a></li>
                <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
               
            </ul>
            </nav>

    </div>



<div class="burger-menu">
    <i class="fas fa-bars"></i>

</header>




    <main class="main_register">

        <form class="formulario_registro"  action="" method="GET">
        <h3 class="title">FORMULARIO DE REGISTRO</h3>
            <div>
        
                <div class="register">
                    <br>
                    <br>
        
                    <label>Nombre(s)</label>
                    <br>
                     <input class="rectangle" type="text" name="nombre" required>
                 
                 </div>


                 <div class="register">
        
                    <label>Apellido(s)</label>
                    <br>
                     <input class="rectangle" type="text" name="nombre" required>
                 
                 </div>


                 <div class="register">
        
                    <label>Fecha de nacimiento</label>
                    <br>
                     <input type="date" name="nombre" required>
                 
                 </div>



                 <div class="register">
        
                    <label>Domicilio</label>
                    <br>
                     <input class="rectangle" type="text" name="nombre" required>
                 
                 </div>


                 <div class="register">
        
                    <label>Selecciona tu tipo de perfil</label>
                    <select name="select">
                        <option value="value1">Comprador</option>
                        <option value="value2">Vendedor</option>
                       
                      </select>
                 
                 </div>


                 <div class="register">
        
                    <label>Intereses</label>
                    <br>
                    <br>
                  
                    <input type="checkbox" id="cbox1" value="primer_checkbox"> Electrodomesticos
                    <input type="checkbox" id="cbox2" value="segundo_checkbox">Ropa
                    <input type="checkbox" id="cbox3" value="tercer_checkbox"> Hogar
                    <input type="checkbox" id="cbox4" value="cuarto_checkbox">Jugueteria
                    <input type="checkbox" id="cbox5" value="quinto_checkbox">Vida sana


                
                 
                 </div>
                  <br>

                 <div class="register">
                    <label>Agrega la foto a tu perfil</label>
                    <br>
                    <br>
                    <input  type="file" required>
                
                </div>
                 
                 
                 <div class="register">
                     <label>Contraseña</label>
                     <br>
                     <input type="password" required>
                 
                 </div>



                 <div class="register">
                    <label>Confirmar contraseña</label>
                    <br>
                    <input type="password" required>
                
                </div>
                 
                 <input class="boton_ingreso" type="submit"></input>
              
        
        
        
            </div>
        
        
        </form>
            
            
        
        
        </main>
    


    <footer>
<div class="ordenar">
    <section>
        <i class="fas fa-credit-card"></i>
        <h3>Pagá con tarjeta o en efectivo</h3>
        <p class="cuerpo">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
     </section>

     <section>
         <i class="fas fa-gift"></i>
         <h3>Envió gratis desde $2.500</h3>
         <p class="cuerpo">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
      </section>

      <section>
         <i class="fas fa-user-shield"></i>
         <h3>Seguridad, de principio a fin </h3>
         <p class="cuerpo">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
      </section>


</div>
             
         <div class="final">
            <p class="cuerpo">Copyright © 1999-2020 MercadoLiebre S.R.L.<p>
            </div>

    </footer>
</body>
</html>