*{
    margin: 0px;
    padding: 0px;    
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}


.titulares{
    font-size: 24px;
}

.precios{
    font-size: 18px;
}

.descuentos{
    font-size: 16px;
}

.descripcion{
    font-size: 16px;
}

.cuerpo{

font-size: 12px;

}

header{
    background-color: #eac926;

}

li a{
    
    text-decoration: none;
    color: black;
}

li{
    list-style-type: none;
}


.burger-menu i{
    font-size: 20px;
    background-color: #0044AA; 
    color: white;
    text-align: center;
    padding: 0.6%;
    padding-top: 6px;
    border-radius: 5px;
    margin: 10px 0px 20px 0px; 
    height: 40px;
    width: 40px;
    padding: 10px;

}

.burger-menu{
    text-align: center;
}

.cuotas{
    width: 100%;
    text-align: center;
    margin-top: 10px;
    font-size: 12px;
}

.header2{
    display: flex;
    flex-wrap: wrap;
    padding: 4%;

}

.listas{
    font-size: 12px;
    margin-left: 20px;

}

.logo{
    width: 50%;
    padding:10px;
}


.buscador{
    display: flex;
    align-items: center;
    padding: 2px;
    font-size: 11px;
    width: 50%;
    

}


.barra{
    background-color: #FFF;
    border: 1px solid #000;
    outline: none;
    color: #666;
    padding: 2px;
    width: 170px;
}

.lupa{
   
    background-color: #FFF;
    border: 1px solid #000;
    color: #666;
    width: 10%;
    height: 28%;
    margin-left: 5px;

}

footer{

   background: white;
   text-align: center;
   margin-top: 40px;
}

section i{
    margin-top: 40px;
    color: dodgerblue;
    padding: 5px;
}

.final{
    margin-top: 40px;
}


section p{
    margin: 0 80px;
}