*{
    margin: 0px;
    padding: 0px;    
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

.cuerpo{

font-size: 12px;

}

header{
    background-color: #eac926;

}

li a{
    
    text-decoration: none;
    color: black;
}

li{
    list-style-type: none;
}


.burger-menu i{
    font-size: 20px;
    background-color: #0044AA; 
    color: white;
    text-align: center;
    padding: 0.6%;
    padding-top: 6px;
    border-radius: 5px;
    margin: 10px 0px 20px 0px; 
    height: 40px;
    width: 40px;
    padding: 10px;
   

}

.burger-menu{
    text-align: center;
}

.cuotas{
    width: 100%;
    text-align: center;
    margin-top: 10px;
    font-size: 12px;
}

.header2{
    display: flex;
    flex-wrap: wrap;
    padding: 4%;

}

.listas1, .listas2{
    font-size: 12px;
    margin-left: 20px;

}

.logo{
    width: 50%;
    padding:10px;
}


.buscador{
    display: flex;
    align-items: center;
    padding: 2px;
    font-size: 11px;
    width: 50%;
    

}


.barra{
    background-color: #FFF;
    border: 1px solid #000;
    outline: none;
    color: #666;
    padding: 2px;
    width: 170px;
}

.lupa{
   
    background-color: #FFF;
    border: 1px solid #000;
    color: #666;
    width: 10%;
    height: 28%;
    margin-left: 5px;

}

.lupa:hover{
   
    background-color: #0022AA;
    border: 1px solid #000;
    color: #666;
    width: 10%;
    height: 28%;
    margin-left: 5px;


}

footer{

   background: white;
   text-align: center;
   margin-top: 40px;
   
}


.final{
    margin-top: 40px;
}


.banner{
    width: 100%;
}


footer section i{
    margin-top: 40px;
    color: dodgerblue;
    padding: 5px;
}

footer section i:hover{
    margin-top: 40px;
    color: black;
    padding: 5px;
}



.titulares{
    font-size: 24px;
    padding: 20px;
}

 
.precios{
    font-size: 18px;
    width: 30%;
}

.descuentos{
    font-size: 16px;
    color: #53C43E;
    width: 70%;
}



.descripcion{
    margin-top: 20px;
    font-size: 16px;
    font-weight: normal;
    color: #666;
    opacity:0 ;
  
} 


.descripcion:hover{
    margin-top: 20px;
    font-size: 16px;
    font-weight: normal;
    color: #666;
    opacity:100 ;
    
} 

 main{
    width: 90%;
    margin: 0 auto;
} 



.producto_completo{
    background-color: #fff;    
    margin: 10px 0px;
 } 

 main section i{
    color:#53C43E;
}


main section .producto_completo img{

    width: 100%;
    
}


main section div .producto_completo i{

    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right:20px;
    top: -15px;
    
}



main section div .producto_completo i:hover{

    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right:20px;
    top: -15px;
    transform: rotate(-90deg);
    
}

main section div .producto{
  
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    border-top: 1px solid #ebebeb;
    position: relative;
    padding: 15px;
}

footer section p{
    margin: 0 40px;
  
}

.final{
    padding-bottom: 30px;
}

form {
    padding: 100px;
    margin: auto;
    
    
}

.contraseña{
    padding: 15px;
    margin: auto;
}


.formulario{
    width: 40%;
    margin: auto;
}

.boton_ingreso{
  margin-left: 30%;
   text-align: center;
    width: 100px;
    margin-top: 20px;
    background-color: darkgrey;
}

.ingreso2{
    margin-left: 10%;
}

@media (min-width:361px ){
    .producto_completo{
        box-shadow: 0px 0px 0px rgb(100, 100, 100);
     
    }

    .producto_completo:hover{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
      }

.burger-menu{
    display: none;
}

 .productos_total{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    } 
    
    .producto_completo{
        width: 45%;
    } 

    .precios,
    .descuentos{
        width: 50%;
    } 

   .listas1 li{
       display: inline;
       padding: 5px;
   }

   .listas2 li{
    display: inline;
    padding: 5px;
}

.listas{
    display: flex;
    justify-content: space-between;
    
}



}


@media (max-width:360px ){
.descripcion{
   display: none;
}

.listas{
    display: none;
}

} 


@media (min-width: 800px){
    .producto_completo{
        width: 22%;
    } 

    .ordenar{
        display: flex;
    }
    
}  

 

